*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:rgb(226, 186, 135);
}


h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}

p{
    margin-top: 0;
    margin-bottom: 1px;
}

body{
    background-color: rgb(248, 236, 220);
}

.aside{
    background-color: rgb(226, 186, 135);
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.titulo_aside{
    background-color: white;
    color: rgb(199, 159, 108);
    border-radius: 20px;
    padding: 0px 5px;
}

header{
    width: 100%;
}

.titulo_header{
    background-color: #c79f6c;
    border-radius: 25px;
    padding: 0px 15px;
}

.menu{
background-color: rgb(199, 159, 108);
width: 100%;
height: max-content;
display: flex;
justify-content: space-evenly;
align-items: center;
position: sticky;
overflow: hidden;
}

.menu il{
    list-style: none;
}

.menu ul li{
    display: inline;
    margin: 20px;
    padding: 10px;
}

.menu ul li a{
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}

.menu ul li a:hover{
    background-color: #ffffff;
    color: rgb(226, 186, 135);
    padding: 24px 10px;
}

.logo img{
    height: 150px;
    width: 150px;
    transition: all 300ms;
}

.logo img:hover{
    transform:scale(1.1);
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    background-color: #c79f6c;
    border: solid 1px #79541e;
}

.btn:hover{
    background-color: #c7a06cad;
    border: solid 1px #79551eda;
}

.faq{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    padding: 10px;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.ubicacion{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.mapa{
    height: 500px;
    width: 700px;
}

.titulo_contacto{
    margin: 50px;
    text-align: center;
}

.formulario{
    height: max-content;
    border-radius: 4px;
    width: 600px;
}

footer{
    background-color: #c79f6c;
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 8px;
}

@media (max-width: 418px){
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu ul li{
        display: block;
        padding: 0px
    }

    .contenedor img{
        display: none;
    }

    .mapa{
        width: 300px;
    }
}