* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e2ba87;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 1px;
}

body {
  background-color: #f8ecdc;
}

.aside {
  background-color: #e2ba87;
  text-align: center;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.aside .titulo {
  background-color: white;
  color: #c79f6c;
  border-radius: 20px;
  padding: 0px 5px;
}

.menu {
  background-color: #c79f6c;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
}

.menu ul li {
  display: inline;
  margin: 20px;
  padding: 10px;
}

.menu il {
  list-style: none;
}

.menu a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.menu a:hover {
  background-color: #ffffff;
  color: #e2ba87;
  padding: 24px 10px;
}

.logo img {
  height: 150px;
  width: 150px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.logo img :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  background-color: #c79f6c;
  border: solid 1px #79541e;
}

.btn:hover {
  background-color: #c7a06cad;
  border: solid 1px #79551eda;
}

.faq {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  padding: 10px;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.ubicacion {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.mapa {
  height: 500px;
  width: 700px;
}

.titulo_contacto {
  margin: 50px;
  text-align: center;
}

.formulario {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 4px;
  width: 600px;
}

footer {
  background-color: #c79f6c;
  color: white;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 8px;
}

@media (max-width: 418px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu ul li {
    display: block;
    padding: 0px;
  }
  .contenedor img {
    display: none;
  }
  .mapa {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */